@import url("https://fonts.googleapis.com/css2?family=Inter&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter&family=Lexend+Deca&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'lexend-deca', sans-serif;
  font-family: 'inter', sans-serif;
}
:root {
  --main-heading-color: hsl(0, 0%, 100%);
  --paragraph-color: hsla(0, 0%, 100%, 0.5);
  --stat-heading-color: hsla(0, 0%, 100%, 0.6);
  --violet-color: hsl(277, 64%, 61%);
}

body {
  background-color: hsl(233, 47%, 7%);
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  min-height: 100vh;
}

.container {
  background-color: hsl(244, 38%, 16%);
  margin: 4rem 3rem;
  display: flex;
  justify-content: space-between;
  border-radius: 5px;
  overflow: hidden;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.6), 0 7px 10px rgba(0, 0, 0, 0.6);
}

.container .left-text {
  width: 50%;
}

.left-container {
  margin: 3rem;
}

.title-page {
  color: var(--main-heading-color);
  font-size: 2rem;
  font-family: "Lexend Deca", sans-serif;
  font-weight: 600;
  margin-bottom: 2rem;
  line-height: 1.1;
  letter-spacing: 0.75px;
}

.title-page span {
  color: var(--violet-color);
  font-weight: bold;
}

.text {
  color: var(--paragraph-color);
  line-height: 1.7;
  letter-spacing: 0.75px;
}

.stats {
  display: flex;
  width: 80%;
  color: var(--paragraph-color);
  justify-content: space-between;
  margin-top: 3rem;
  align-items: center;
  gap: 2rem;
}

.stats h3 {
  font-size: 1.7rem;
  color: var(--main-heading-color);
  margin-bottom: 0;
}

.stats div {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.stats div p {
  margin: 0;
  margin-top: 0.5rem;
  font-family: "Lexend Deca", sans-serif;
  letter-spacing: 1px;
  font-size: 0.8rem;
}

.container .right-image {
  width: 50%;
  background-image: linear-gradient(
      to right bottom,
      hsla(277, 72%, 61%, 0.541),
      hsla(277, 72%, 61%, 0.541)
    ),
    url(../images/image-header-desktop.jpg);
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
  object-fit: cover;
}

@media (max-width: 540px) {
  .container {
    flex-direction: column-reverse;
    overflow: auto;
    width: 90%;
    min-height: 100vh;
  }

  .left-container {
    margin: 2rem;
  }

  .container .left-text,
  .container .right-image {
    width: 100%;
    text-align: center;
  }

  .container .left-text {
    min-height: 70vh;
  }
  .container .right-image {
    min-height: 30vh;
  }

  .stats {
    margin: 0 auto;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}

@media (max-width: 768px) {
  .title {
    font-size: 2em;
  }

  .container {
    flex-direction: column-reverse;
    overflow: auto;
    width: 90%;
    min-height: 100vh;
  }

  .container .left-text {
    min-height: 60vh;
  }
  .container .right-image {
    min-height: 40vh;
  }

  .container .left-text,
  .container .right-image {
    width: 100%;
    text-align: center;
  }

  .stats {
    margin: 4rem auto;
    justify-content: space-around;
    align-items: center;
    gap: 2rem;
  }

  .stats div h3 {
    font-size: 1.5rem;
  }
}